
html {
  height  : 100%;
  overflow: hidden;
  position: relative;
}
body {
  height  : 100%;
  overflow: auto;
  position: relative;
  overscroll-behavior: none;
}

#app{
  height  : 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .editor-sidebar{
    margin: 0 10px;
  }

  .canvas-main.main-side{
    overflow: hidden;
    height: 100%;
    overscroll-behavior: none;
  }

}