
html {
  height  : 100%;
  overflow: hidden;
  position: relative;
}
body {
  margin: 0;
  height  : 100%;
  overflow: auto;
  position: relative;
  overscroll-behavior: none;
  font-family: 'San Francisco', 'Helvetica', sans-serif;
}

#app{
  user-select: none;
  height  : 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .editor-sidebar{
    margin: 0 10px;
  }

  .canvas-main.main-side{
    overflow: hidden;
    height: 100%;
    overscroll-behavior: none;
  }

  .side-top > .toolbar.main-tools {
     > .items.near{
        margin: 10px;
       .ui-button{ margin-right: 5px; }
    }

  }
  .side-left > .toolbar.main-tools {
     > .items.near{
        margin: 0 10px;
       .ui-button{ margin-bottom: 5px; }
    }

  }

  .toolbar.main-tools{
    .ui-button{
      border-radius: 5px;
      padding: 0;

      &:focus{
        outline: none;
      }
    }
  }

  .ui-button{
    &:focus{
      outline: none;
    }
  }

}