
html {
  height  : 100%;
  overflow: hidden;
  position: relative;
}
body {
  margin: 0;
  height  : 100%;
  overflow: auto;
  position: relative;
  overscroll-behavior: none;
}

#app{
  user-select: none;
  height  : 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .editor-sidebar{
    margin: 0 10px;
  }

  .canvas-main.main-side{
    overflow: hidden;
    height: 100%;
    overscroll-behavior: none;
  }

  .toolbar.main-tools{
    .ui-button{
      border-radius: 5px;
      padding: 0;

      &.selected{
        background-color: #f0f0f0;
      }
    }
  }

}