.color-usage-report{

  .entry{
    display: flex;
    margin-bottom: 5px;

    .swatch{
      width: 16px;
      height: 16px;
      border-radius: 100%;
      margin-right: 10px;
      margin-top: 5px;
    }

    .lighter{
      opacity: 0.5;
      margin-right: 10px;
      background: white;
      color: black;
      border-radius: 5px;
      padding: 0;
      text-transform: uppercase;
    }

  }

}