.expando{

  $b-rad: 10px;
  $space: 10px;

  margin-bottom: $space;

  > .head{

    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 50px;
    border-top-left-radius: $b-rad;
    border-top-right-radius: $b-rad;

    > .label{
      margin-left: $space;
    }

    > .items{
      display: flex;

      > .ui-label{
        margin-right: $space;
        opacity: 0.3;
      }

    }
  }

  > .body{
    min-height: 20px;
    border-radius: $b-rad;
    padding: $space;

    > .children{
      > .ui-button{
        display: block;
      }

      > .ui-item-group{
        display: flex;
        > .ui-button {
          flex: 1 1 0;
          border-radius: 0 !important;
        }
      }
    }

  }

}