.ui-icon.icon-bucket { background-image: url("icons/bucket.svg"); }
.ui-icon.icon-circle-check { background-image: url("icons/circle-check.svg"); }
.ui-icon.icon-circle-arrow-up { background-image: url("icons/circle-arrow-up.svg"); }
.ui-icon.icon-circle-arrow-down { background-image: url("icons/circle-arrow-down.svg"); }
.ui-icon.icon-circle-arrow-left { background-image: url("icons/circle-arrow-left.svg"); }
.ui-icon.icon-circle-arrow-right { background-image: url("icons/circle-arrow-right.svg"); }
.ui-icon.icon-checker { background-image: url("icons/checker.svg"); }
.ui-icon.icon-code-file { background-image: url("icons/code-file.svg"); }
.ui-icon.icon-copy { background-image: url("icons/copy.svg"); }
.ui-icon.icon-cut { background-image: url("icons/cut.svg"); }
.ui-icon.icon-dismiss { background-image: url("icons/dismiss.svg"); }
.ui-icon.icon-ellipsis { background-image: url("icons/ellipsis.svg"); }
.ui-icon.icon-eraser { background-image: url("icons/eraser.svg"); }
.ui-icon.icon-eye { background-image: url("icons/eye.svg"); }
.ui-icon.icon-eyedropper { background-image: url("icons/eyedropper.svg"); }
.ui-icon.icon-equalizer { background-image: url("icons/equalizer.svg"); }
.ui-icon.icon-floppy { background-image: url("icons/floppy.svg"); }
.ui-icon.icon-grid { background-image: url("icons/grid.svg"); }
.ui-icon.icon-gradient { background-image: url("icons/gradient.svg"); }
.ui-icon.icon-minus { background-image: url("icons/minus.svg"); }
.ui-icon.icon-paste { background-image: url("icons/paste.svg"); }
.ui-icon.icon-palette { background-image: url("icons/palette.svg"); }
.ui-icon.icon-pencil { background-image: url("icons/pencil.svg"); }
.ui-icon.icon-plus { background-image: url("icons/plus.svg"); }
.ui-icon.icon-redo { background-image: url("icons/redo.svg"); }
.ui-icon.icon-return { background-image: url("icons/return.svg"); }
.ui-icon.icon-select { background-image: url("icons/select.svg"); }
.ui-icon.icon-undo { background-image: url("icons/undo.svg"); }
.ui-icon.icon-select { background-image: url("icons/select.svg"); }
.ui-icon.icon-corners { background-image: url("icons/corners.svg"); }
.ui-icon.icon-crop { background-image: url("icons/crop.svg"); }
.ui-icon.icon-full-frame { background-image: url("icons/full-frame.svg"); }
.ui-icon.icon-grid-crossed { background-image: url("icons/grid-crossed.svg"); }