.ui-palette{
  $space:10px;

  .palette-label{
    opacity: 0.5;
  }

  > .palette-label{
    margin-bottom: $space;
  }

  .palette-preview{

    cursor: pointer;
    font-size: 0.8em;
    padding:$space;
    border-radius: 4px;
    margin-bottom: 3px;

    &:not(:last-child){
      margin-bottom: $space;
    }

    .swatches{
      display: flex;
      overflow: hidden;
    }

    .swatch{
      width: 15px;
      height: 15px;
      border-radius: 7px;
      flex-shrink: 0;

      &:not(:last-child){
        margin-right: $space;
      }
    }
  }

  .swatches{
    > div:not(.label) {
      display: inline-block;
    }

    .ui-clickable{
      padding: $space;
      margin-right: $space;
      margin-bottom: $space;
    }

    .pal-swatch{

      border-radius: 4px;

      > div {
        border-radius: 10px;
        width: 20px;
        height: 20px;
      }
    }
  }
}