
$button-face-hover-bg: Highlight !default;
$button-face-hover-fg: HighlightText !default;
$button-face-selected-bg: Highlight !default;
$button-face-selected-fg: HighlightText !default;
$window-bg: Window !default;
$window-fg: WindowText !default;
$window-border: #ddd !default;
$separator: rgba(0, 0, 0, 0.13) !default;

.ui-clickable.is-open{
    background-color: $button-face-hover-bg;
    color: $button-face-hover-fg;
}

.ui-button-wrap.split:hover > .ui-button-split-part,
.ui-button-wrap.split:hover > .ui-button,
.ui-button:hover:not(.face-never):not(.disabled),
.ui-clickable.selected:not(.disabled),
.ui-button.is-open{
    background-color: $button-face-hover-bg;
    color: $button-face-hover-fg;
}

.ui-menuitem.is-open,
.ui-menuitem.is-selected{
    background-color: $button-face-selected-bg;
    color: $button-face-selected-fg;
}

.ui-menu-overlay,
.ui-suggestions-overlay{
    background-color: $window-bg;
    color: $window-fg;
    border: solid 1px $window-border;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.ui-separator:after{
    background-color: $separator;
}
.ui-item-group{
    border: solid 1px $window-border;
    border-radius: 0.5em;
}

.ui-item-group > .ui-clickable.selected:not(.disabled){
    background-color: #ddd;
}

.ui-split-view > .dock-side{ border-color: $window-border;  }

.ui-tab-view > .tabs { background-color: #ddd;}
.ui-tab-view > .tabs  > .items > .tab {margin-top: 0.6em;}
.ui-tab-view > .tabs  > .items > .selected{ background-color: white; }

.ui-tree-view:focus .ui-tree-item.selected{
    background-color: Highlight;
    color: HighlightText;
}

.ui-tree-item.selected{
    background-color: #f0f0f0;
    color: HighlightText;
}

.ui-tree-item:not(.selected):hover{
    background-color: #E3EFFE;
}