$color-strong: #0000000a;
$color-light: #000000c8;
$button-face-hover-bg: $color-strong;
$button-face-selected-bg: $color-strong;
$window-bg: #fff;
$window-fg: #555;
$cta-bg: #0052A8;
$cta-bg-hot: #2780de;
$cta-fg: #fff;

.ui-clickable.is-open{
  background-color: $button-face-hover-bg;
}

.ui-button-wrap.split:hover > .ui-button-split-part,
.ui-button-wrap.split:hover > .ui-button,
.ui-button:hover:not(.face-never):not(.disabled),
.ui-clickable.selected:not(.disabled),
.ui-button.is-open{
  background-color: $button-face-hover-bg;
}

.ui-menuitem.is-open,
.ui-menuitem.is-selected{
  background-color: $button-face-selected-bg;
}

.ui-button{
  &:focus{
    box-shadow: 0 0 10px 0 rgba(5,148,255,0.51);
  }

  &.cta{
    background-color: $cta-bg;
    color: $cta-fg;

    &:hover{
      background-color: $cta-bg-hot !important;
      color: $cta-fg !important;
    }
  }
}

.expando {
  > .head{
    color: #101010;
    background-color: rgba(0,0,0,0.1);
  }
  > .body{ background-color: rgba(0,0,0,0.05) }
}

.preview-panel {
  &.selected{
    background-color: $color-strong;
    > .preview{ border-right: solid 1px $color-light; }
  }
}

.ui-range{
  background: $color-light;
  .handle{
    background-color: $color-strong;
  }
}

.pal-swatch, .palette-preview{
  background-color: $color-light;
  &.selected,&:hover{
    background-color: $color-strong;
  }
}

#root-dialog .modal{
  background-color: $window-bg;
}

.container-panel{
  background-color: $color-light;

  > .marker { background-color: $color-light; }
}

.review-studio .corner-grid .corner {
  border: solid 1px $window-fg;

  &:not(.selected):hover{
    background-color: $color-strong;
  }

  &.selected{
    background-color: $cta-bg;
  }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  $color-strong: #ffffff19;
  $color-light: #ffffff0d;
  $button-face-hover-bg: $color-strong;
  $button-face-hover-fg: #828282;
  $button-face-selected-bg: $color-strong;
  $button-face-selected-fg: #828282;
  $window-bg: #232328;
  $window-fg: #828282;
  $window-border: $color-light;
  $separator: $color-strong;
  $text-box-bg: $color-light;

  body{
    background: $window-bg;
    color: $window-fg;
  }

  .ui-clickable.is-open{
    background-color: $button-face-hover-bg;
    color: $button-face-hover-fg;
  }

  .ui-button-wrap.split:hover > .ui-button-split-part,
  .ui-button-wrap.split:hover > .ui-button,
  .ui-button:hover:not(.face-never):not(.disabled),
  .ui-clickable.selected:not(.disabled),
  .ui-button.is-open{
    background-color: $button-face-hover-bg;
    color: $button-face-hover-fg;
  }

  .ui-menuitem.is-open,
  .ui-menuitem.is-selected{
    background-color: $button-face-selected-bg;
    color: $button-face-selected-fg;
  }

  .ui-menu-overlay,
  .ui-suggestions-overlay{
    background-color: $window-bg;
    color: $window-fg;
    border: solid 1px $window-border;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  }

  .ui-separator:after{
    background-color: $separator;
  }

  .ui-color-picker{
    font-size: 14px;

    input{
      border: none;
      border-radius: 5px;
      background: $text-box-bg;
      color: $window-fg;
    }
  }

  .expando {
    > .head{
      color: #efefef;
      background-color: rgba(255, 255, 255, 0.1)
    }
    > .body{
      background-color: rgba(255, 255, 255, 0.05)
    }
  }

  .preview-panel {
    &.selected{
      background-color: $color-strong;
      > .preview{ border-right: solid 1px $color-light; }
    }
  }

  .ui-range{
    background: $color-light;
    .handle{
      background-color: $color-strong;
    }
  }

  .pal-swatch, .palette-preview{
    background-color: $color-light;
    &.selected,&:hover{
      background-color: $color-strong;
    }
  }

  #root-dialog .modal{
    background-color: $window-bg;
  }

  .container-panel{
    background-color: $color-light;
    > .marker { background-color: $color-light; }
  }

  .review-studio .corner-grid .corner {
    border: solid 1px $window-fg;

    &:not(.selected):hover{
      background-color: $color-strong;
    }

    &.selected{
      background-color: $cta-bg;
    }
  }

}