.ui-range{

  height: 40px;
  border-radius: 20px;
  background: #f0f0f0;
  background-size: contain;
  position: relative;

  .handle{
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: Highlight;
  }

}